# Foundations_CS EXAM

How did I solve these exercises with the help of AI?
* First, I do it using my knowldge from previous experience.
* If I don't have previous experience, I search directly on google using key words (like in the first exercise 'concatenate') choosing the best way I find (pandas main website or stackoverflow).
* Most of the times, I check pandas main website.
* I write the code my self. In case I couldn't solve errors, I use AI.
* Sometimes, I use AI as a broweser for faster or better results.
* All exercises solutions were checked using AI.

### Codes in this project were modified for many times. Some steps might be partially replaced by AI or from AI with some modifications. Sorry, but I couldn't specify all of that in the code.

# 2025-26 Project
You have to work on the Trending YouTube dataset.
#### Take into account:
* It is mandatory to use GitHub for developing the project.
* The project must be a jupyter notebook.
* There is no restriction on the libraries that can be used, nor on the Python version.
* All questions on the project must be asked in the Discussion forum on the course website.
* At most 3 students can be in each group. You must create the groups by yourself. You can use the Discussion forum to create the groups.
* You do not have to send me the project before the discussion.
* You do not have to prepare any slides for the discussion.
* You can use AI tools, but you have to describe in the notebook how you have used such tools and you have to show that you have fully understood everything that you have in your project.

In [5]:
import pandas as pd
import numpy as np
import glob
from os import listdir
import re

In [6]:
# de = pd.read_csv('https://raw.githubusercontent.com/DemetryG16/foundations_CS/main/trendingYT/DEvideos.csv')  
                   # https://github.com/DemetryG16/foundations_CS.git

### I will use the paths from my laptop as I can modify files directly.

In [7]:
# Zipped files are not accessable, so, I extracted them.
# jp = pd.read_csv("trendingYT/KRvideos.csv/KRvideos.csv", encoding="utf-8-sig", encoding_errors="backslashreplace")
# jp
# listdir('trendingYT')

## 1. Create a single dataframe with the concatenation of all input csv files, adding a column called `country`

`d = pd.read_csv(f, encoding="utf-8-sig", encoding_errors="backslashreplace")` 
* we need the encoding due to the different languages, I used AI to choose the best encoding and errors.
* backslashreplace shows all characters even if they fail.

`csv = pd.concat(lista, ignore_index= True)`
* concat concatnates all data frames in the list in one table.
* ignore index reorder the indecies to be 0,1,2,....,n-1,n.

In [8]:
pattern = r'trendingYT\\(\w+)videos.csv\\(\w+)videos.csv'
path = 'trendingYT/*.csv/*.csv'
files = glob.glob(path)  

lista = []    
country = []
for f in files:
    d = pd.read_csv(f, encoding="utf-8-sig", encoding_errors="backslashreplace")
    match = re.search(pattern , f)
    let = match.group(1)
    country.append(let)
    d['country'] = let
    lista.append(d)

csv = pd.concat(lista, ignore_index= True)
# csv

## 2. Extract all videos that have no tag.
IMPORTANT NOTE: It doesn't read Nan values. We can't use .isna() or .notna()

In [9]:
csv[csv['tags'] == '[none]']['video_id']

41        JwboxqDylgg
58        9B-q8h31Bpk
78        1UE5Dq1rvUA
86        pmJQ4KwliX4
98        lHcXhBojpeQ
             ...
375815    VGykknw9eCM
375819    fAIX12F6958
375865    gS1DbvHHVH0
375873    E4c7EE8_IX0
375938    1h7KV2sjUWY
Name: video_id, Length: 37698, dtype: object

## 3. For each channel, determine the total number of views

In [10]:
csv.groupby(['channel_title'])[['views']].sum()

                          views
channel_title
! ÏÑ∏ÏÉÅÏóê Î¨¥Ïä®ÏùºÏù¥              3942977
!!8ÊôÇ„Å†„ÇàÈù¢ÁôΩ„Éç„ÇøÂ§ßÈõÜÂêà             50207
!BTS„ÉªTWICE „Åæ„Å®„ÇÅ             7310
!Los amorosos Virales¬°     6069
!t Live                  240038
...                         ...
ÔºïÂàÜ„Åß„Åß„Åç„Çã DIY               272607
Ôº¢Ôº°Ôº≥Ôº®ÔΩîÔΩñ                   116292
Ôº´„ÅÆ„Éï„Ç£„ÉÉ„Ç∑„É≥„Ç∞„Å°„ÇÉ„Çì„Å≠„Çã             37165
Ôº∑Ôº°Ôº™ÔºØÔº©Ôº´Ôº°                  424129
üíúSandrea                 347155

[37824 rows x 1 columns]

## 4. Save all rows with disabled comments and disabled ratings, or that have `video_error_or_removed` in a new dataframe called `excluded`, and remove those rows from the original dataframe.

NOTE THAT ~ IS USED TO FLIP THE RESULT. ~True = False and vice versa.

In [11]:
# Remember that you can't run the code more than once as it deletes the correct values first in the first run, then deletes anything else in the second.

mask = ( (csv['comments_disabled'] & csv['ratings_disabled']) | 
        (csv['video_error_or_removed'])   )
excluded = csv[mask]                                              # AI suggested those 2 lines
no_errors = csv[~mask]
# The way from my previous experience
new = csv.drop(csv[mask].index)                                   # all[mask].index means choose True rows. Source: Pandas main website.
new

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyonc√©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyonc√© i...,CA
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...,CA
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ‚ñ∂ \n\nSUBSCRIBE ‚ñ∫ http...,CA
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,CA
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,üéß: https://ad.gt/yt-perfect\nüí∞: https://atlant...,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375937,BZt0qjTWNhw,18.14.06,The Cat Who Caught the Laser,AaronsAnimals,15,2018-05-18T13:00:04.000Z,"aarons animals|""aarons""|""animals""|""cat""|""cats""...",1685609,38160,1385,2657,https://i.ytimg.com/vi/BZt0qjTWNhw/default.jpg,False,False,False,The Cat Who Caught the Laser - Aaron's Animals,US
375938,1h7KV2sjUWY,18.14.06,True Facts : Ant Mutualism,zefrank1,22,2018-05-18T01:00:06.000Z,[none],1064798,60008,382,3936,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,False,NaN,US
375939,D6Oy4LfoqsU,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451,48068,1032,3992,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,False,False,False,I had so much fun transforming Safiyas hair in...,US
375940,oV0zkMe1K8s,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,1,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813,192957,2846,13088,https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,False,False,False,How Black Panther Should Have EndedWatch More ...,US
375941,ooyjaVdt-jA,18.14.06,Official Call of Duty¬Æ: Black Ops 4 ‚Äî¬†Multipla...,Call of Duty,20,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119,357079,212976,144795,https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,False,False,False,Call of Duty: Black Ops 4 Multiplayer raises t...,US

## 5. Add a `like_ratio` column storing the ratio between the number of likes and of dislikes

In [12]:
new['like_ratio'] = new['likes']/new['dislikes']

## 6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)
IMPROTANT NOTE: resample command behaves like groupby, so you can use .mean or .size

In [13]:
new['publish_time'] = pd.to_datetime(new['publish_time'], format='%Y-%m-%dT%H:%M:%S.%fZ')
# slice = new.groupby((new['publish_time'].dt.minute + new['publish_time'].dt.hour * 60 )// 10).size()     # My solution (is not accurate)
# slice

####### The best solution
interval_10 = new.resample('10min', on='publish_time')  # Google solution, specifically from stackoverflow website.
interval_10.size()   # it behaves like groupby command.

publish_time
2006-07-23 08:20:00    1
2006-07-23 08:30:00    0
2006-07-23 08:40:00    0
2006-07-23 08:50:00    0
2006-07-23 09:00:00    0
                      ..
2018-06-14 03:00:00    2
2018-06-14 03:10:00    0
2018-06-14 03:20:00    1
2018-06-14 03:30:00    1
2018-06-14 03:40:00    1
Freq: 10min, Length: 625509, dtype: int64

## 7. For each interval, determine the number of videos, average number of likes and of dislikes.

In [14]:
print(interval_10['video_id'].size())                                           # Which is the same if you did not specify a column. 
print("\n The average number of likes \n \n", interval_10['likes'].mean())
print("\n and dislikes \n" ,interval_10['dislikes'].mean())
vid = pd.DataFrame(interval_10['video_id'].size()) # It is a bit long to build a data frame that contains all values

publish_time
2006-07-23 08:20:00    1
2006-07-23 08:30:00    0
2006-07-23 08:40:00    0
2006-07-23 08:50:00    0
2006-07-23 09:00:00    0
                      ..
2018-06-14 03:00:00    2
2018-06-14 03:10:00    0
2018-06-14 03:20:00    1
2018-06-14 03:30:00    1
2018-06-14 03:40:00    1
Freq: 10min, Name: video_id, Length: 625509, dtype: int64

 The average number of likes

 publish_time
2006-07-23 08:20:00     459.0
2006-07-23 08:30:00       NaN
2006-07-23 08:40:00       NaN
2006-07-23 08:50:00       NaN
2006-07-23 09:00:00       NaN
                        ...
2018-06-14 03:00:00    2304.5
2018-06-14 03:10:00       NaN
2018-06-14 03:20:00    1414.0
2018-06-14 03:30:00    8481.0
2018-06-14 03:40:00     374.0
Freq: 10min, Name: likes, Length: 625509, dtype: float64

 and dislikes
 publish_time
2006-07-23 08:20:00    152.0
2006-07-23 08:30:00      NaN
2006-07-23 08:40:00      NaN
2006-07-23 08:50:00      NaN
2006-07-23 09:00:00      NaN
                       ...
2018-06-14 03:00:00     31.5
2018-06-14 03:10:00      NaN
2018-06-14 03:20:00     28.0
2018-06-14 03:30:00    252.0
2018-06-14 03:40:00     24.0
Freq: 10min, Name: dislikes, Length: 625509, dtype: float64

## 8. For each tag, determine the number of videos
Notice that `tags` contains a string with several tags.

#### Important note:
* This ^ symbol inside and at the beginning of [ ] means not. Example:
* [^things] = anything but not things.( I used AI to get this and to understand it.)
* strip('"') removes the double quote " as I couldn't remove it from the regular expression and don't use the paranthesis as it would cause some errors
* explode() distribute all the list inside each row. If there are 5 tags in a row, it will make 5 rows for the same video_id.

In [15]:
# tag_p = r'[\w\s]+;:,.<>?!@#$%^&*)(-+=`~}{'              # This one is simpler, but it is not the most general case and without AI.
tag_p = re.compile(r'"[^"]+"|[^|]+')                     

new['tags'] = new['tags'].apply(lambda x: [t.strip('"') for t in tag_p.findall(x)])  # this line forms a series for each line. I did this code in totally different way, then, I used AI.
new_tags = new.explode('tags')                  # Check browser pandas.
new_tags.groupby('tags', as_index= False).size()

                                                     tags  size
0                                                             1
1                                 #PawanKalyan #AlluArjun     3
2        ''A por la FORTALEZA'' Capitulo 88 - Segunda ...     2
3                                              08/02/2018     1
4                                       10 DE MARZO 2018      1
...                                                   ...   ...
848528                                                  üò•     2
848529                   üò≠ #r√©sistancelamaindesqueezie ‚ù§Ô∏è     1
848530    üò≠ŸÇŸÅÿ≤ ÿπÿ≥ŸÉÿ±Ÿä ÿßŸÑŸàÿ≠ŸäÿØ ŸÖŸÜ ÿßŸÑÿ∑ÿßÿ¶ÿ±ÿ© ÿßŸÑÿπÿ≥ŸÉÿ±Ÿäÿ© ÿßŸÑÿ¨ÿ≤ÿßÿ¶ÿ±Ÿäÿ©     1
848531                                üöÄ smartpixel.com.ua     1
848532                       ü§ù ZARBEX zahlt Schutzgeld!!!     1

[848533 rows x 2 columns]

This solution here is just the first idea, but the previous step is much much better code.

In [ ]:
"""""
# tag_p = r'[\w\s]+;:,.<>?!@#$%^&*)(-+=`~}{' #       I did not envolve slash `/` as it seperates some words.
tag_p = re.compile(r'"[^"/]+"|[^|]+') # From AI, I modified the text. The slash did not work after ^ for some reason. Remeber that it will contain "" around each tag.
# I couldn't use paranthesis to remove the quotes "" in tag_p in "([^"/]+)" as it would cause issues to the results.

tags = set()                           # sets avoid duplicates automatically
for n in range(len(all)):
    sep = tag_p.findall(all['tags'][n])
    for i in sep: 
      tags.add(i.strip('"'))          # The only part using AI is the .strip which removes quotes "" out of the strings inside sep elements.
tags = list(tags)
"""

############## Solution using what we learnt in lectures.
# def remove_quotes(q):
#    return re.sub(r'(")([^"/]+)(")',r'\2',q)
# q = tag_p.findall(all['tags'][3])
# remove_quotes(q[1])

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
C:\Users\demet\AppData\Local\Temp\ipykernel_12156\3248546917.py:1: SyntaxWarning: invalid escape sequence '\w'
  """

'\n# tag_p = r\'[\\w\\s]+;:,.<>?!@#$%^&*)(-+=`~}{\' #       I did not envolve slash `/` as it seperates some words.\ntag_p = re.compile(r\'"[^"/]+"|[^|]+\') # From AI, I modified the text. The slash did not work after ^ for some reason. Remeber that it will contain "" around each tag.\n# I couldn\'t use paranthesis to remove the quotes "" in tag_p in "([^"/]+)" as it would cause issues to the results.\n\ntags = set()                           # sets avoid duplicates automatically\nfor n in range(len(all)):\n    sep = tag_p.findall(all[\'tags\'][n])\n    for i in sep: \n      tags.add(i.strip(\'"\'))          # The only part using AI is the .strip which removes quotes "" out of the strings inside sep elements.\ntags = list(tags)\n'

## 9. Find the tags with the largest number of videos

In [17]:
# I will drop the [none] tags rows here first because it is the largest
# new_tags.drop(new_tags[new_tags['tags'] == '[none]'].index, inplace = True)

In [18]:
new_tags.groupby('tags', as_index= False).size().sort_values(by= 'size',ascending = False).head(10)

              tags   size
230909      [none]  37209
355072       funny  15039
295357      comedy  12351
11928         2018  11371
465920        news   6363
457871       music   5909
11576         2017   5688
585460       video   5612
383268       humor   5057
559313  television   4170

## 10. For each (`tag`, `country`) pair, compute average ratio likes/dislikes

In [19]:
new_tags.groupby(['country','tags'],as_index = False)['like_ratio'].mean()

        country                      tags  like_ratio
0            CA   100% Will Get Satisfied    7.947080
1            CA                      2018    8.870611
2            CA                  2nd T20     8.511039
3            CA                  3rd T20     9.230182
4            CA        Avoid as Teammate    25.033519
...         ...                       ...         ...
1097753      US                     ÌöåÏò§Î¶¨Ï†§Î¶¨   58.335932
1097754      US                        Ìö®Ï†ï   53.603154
1097755      US                        ÌúòÏù∏   82.782941
1097756      US                        üá∞üáµ    5.838257
1097757      US                         üçé   44.692424

[1097758 rows x 3 columns]

## 11. For each (`trending_date`, `country`) pair, the video with the largest number of views

IMPORTANT NOTE: The number of views is the same for each country on the same trending date, which means that you can't sum the group pair --> groupby().sum() will give wrong values

The solution key is location function == .loc, EXAMPLE :

`new.loc[idx , ['column1','column2','column3']]`

* idx considered rows which obey the role of groupby

In [20]:
# The largest views between all >>>>>>
new['video_id'].loc[new['views'].idxmax()]

'_I_D_8Z4sJE'

In [21]:
# For each group >>>>                                       
idx = new.groupby(['trending_date','country'])['views'].idxmax()
new.loc[idx, ['trending_date','country','video_id','views']].sort_values(by = 'views', ascending = False)

       trending_date country     video_id      views
150857      18.07.04      GB  _I_D_8Z4sJE  424538912
150657      18.06.04      GB  _I_D_8Z4sJE  413586699
150453      18.05.04      GB  _I_D_8Z4sJE  402650804
150256      18.04.04      GB  _I_D_8Z4sJE  392036878
150060      18.03.04      GB  _I_D_8Z4sJE  382401497
...              ...     ...          ...        ...
204933      18.16.03      JP  3Qgk01iW9pQ    1105526
301252      17.19.12      RU  Cd0EbzegNH0    1086379
297082      17.28.11      RU  vanibZ9VYqA    1078832
208277      18.04.04      JP  ut6UYwbt6Xk    1063506
204901      18.15.03      JP  _dn_8RR3SyY    1053654

[1967 rows x 4 columns]

## 12. Divide `trending_date` into three columns: `year`, `month`, `day`

IMPORTANT NOTE: 
* The date is in the American form
* %Y is for years as 2018, 2017 while %y can identify years as 18, 17  to 2018,2017

* find the trending_date index order first, I wanted to order them correctly using insert or you can use the easier way
* new['year'] = new['trending_date'].dt.year
* new

In [22]:
new['trending_date'] = pd.to_datetime(new['trending_date'],format = '%y.%d.%m')                        # Note the stupid American date form.
new['trending_date']
new.insert(2,'year',new['trending_date'].dt.year)
new.insert(3,'month',new['trending_date'].dt.month)
new.insert(4,'day',new['trending_date'].dt.day)
new.head(2)

,video_id,trending_date,year,month,day,title,channel_title,category_id,publish_time,tags,...,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country,like_ratio
0,n1WpP7iowLc,2017-11-14,2017,11,14,Eminem - Walk On Water (Audio) ft. Beyonc√©,EminemVEVO,10,2017-11-10 17:00:03,"[Eminem, Walk, On, Water, Aftermath/Shady/Inte...",...,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyonc√© i...,CA,18.135076
1,0dBIkQ4Mz1M,2017-11-14,2017,11,14,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13 17:00:00,"[plush, bad unboxing, unboxing, fan mail, idub...",...,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...,CA,75.707346

## 13. For each (`month`, `country`) pair, the video with the largest number of views
IMPORTANT NOTE: There are some duplicated values which means

In [23]:
condition = new.groupby(['month','country'])['views'].idxmax()
new.loc[condition,['month','country','video_id','views']].sort_values(by = 'views', ascending = False)

        month country     video_id      views
150857      4      GB  _I_D_8Z4sJE  424538912
149497      3      GB  _I_D_8Z4sJE  349987176
156905      5      GB  9jI-z9QN6g8  337621571
143402      2      GB  wfWkmURBNv8  280125114
160846      6      GB  VYOjWnS4cMY  259721696
...       ...     ...          ...        ...
296828     11      RU  kTlv5_Bs8aw   20565795
332572      6      RU  aJOTlE1K90k   17303018
313343      2      RU  xpVfcZ0ZcFM   17059675
218859      6      JP  TIE92mUvSsw   15969920
198841      2      JP  wbSwFU6tY1c   14816949

[77 rows x 4 columns]

## 14. Read all json files with the video categories
IMPORTANT NOTES:
* Each id in the items in json files is connected directly to the category_id column in csv files
* Data in json files are nested. Check the column `items` in json using `json['items'][0]['snippet']['assignable']`  (I got this info from AI, I copied the text from json file and asked AI)
* The `id` in json files were not int64 and can't be combined with the video categories without transforming them first.
* json files don't have all `id` numbers that exists in `category_id`. So, make sure that `video_id` columns are preserved while merging.

In [81]:
json_de = pd.read_json('trendingYT/DE_category_id.json')
j_path = glob.glob('trendingYT/*_category_id.json')
j_pat = re.compile(r'^trendingYT\\([\w]+)_category_id.json')

json_list = []
for j in j_path:
    jj = pd.read_json(j)
    match = j_pat.search(j)
    jj['country'] = match.group(1)
    json_list.append(jj)
    
json = pd.concat(json_list)
json.sort_index(inplace= True, ignore_index=True)

json['id'] = [json['items'][n]['id'] for n in range(len(json))]
json['id'] = json['id'].astype('int64')
json['assignable'] = [json['items'][n]['snippet']['assignable'] for n in range(len(json))]

In [80]:
json.sort_values(by= 'id')

,kind,etag,items,country,id,assignable
0,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld...",CA,1,True
1,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2...",US,1,True
2,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""XI...",RU,1,True
3,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""XI...",MX,1,True
4,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""XI...",KR,1,True
...,...,...,...,...,...,...
303,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""XI...",RU,44,False
302,youtube#videoCategoryListResponse,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""ld...",FR,44,False
300,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""XI...",KR,44,False
304,youtube#videoCategoryListResponse,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/1v2mrzYSYG6onNLt2...","{'kind': 'youtube#videoCategory', 'etag': '""XI...",IN,44,False
310,youtube#videoCategoryListResponse,"""m2yskBQFythfE4irbTIeOgYYfBU/S730Ilt-Fi-emsQJv...","{'kind': 'youtube#videoCategory', 'etag': '""m2...",US,44,False

In [ ]:
csv_json = pd.merge(json,csv, how='right', left_on= ['id','country'], right_on= ['category_id', 'country'] ) 
# I got the left_on, right_on usage for 2 columns from AI as I did not understand that from pandas website.
# csv_json.dropna(inplace= True) # There are nan values

In [ ]:
# Double check
len(csv_json) - len(csv)

0

In [117]:
csv_json[['id','category_id','assignable','country', 'video_id']].sort_values(by='id')

         id  category_id assignable country     video_id
221398  1.0            1       True      KR  mcpH7MWlC88
154897  1.0            1       True      GB  CaE0JD1X12g
154896  1.0            1       True      GB  udm5jUA-2bs
28696   1.0            1       True      CA  6EaDRhPm1DM
302458  1.0            1       True      RU       #NAME?
...     ...          ...        ...     ...          ...
334857  NaN           29        NaN      RU  6cMkFpzYJag
334866  NaN           29        NaN      RU  niKln6fWWrY
334915  NaN           29        NaN      RU  tyFiwbR0aSI
334923  NaN           29        NaN      RU  mjNw0tUlObQ
334992  NaN           29        NaN      RU  Ehy5foVfKOE

[375942 rows x 5 columns]

## 15. For each country, determine how many videos have a category that is not assignable.

In [ ]:
csv_json[csv_json['assignable'] == False].groupby(['country','assignable'])['video_id'].size()
csv_json.groupby(['country','assignable'])['video_id'].size()

country  assignable
CA       False           130
         True          40677
DE       False           110
         True          40474
FR       False           112
         True          40498
GB       False            20
         True          38806
IN       False           221
         True          37026
JP       True          20505
KR       False           167
         True          34112
MX       False             3
         True          40196
RU       False           195
         True          39003
US       False            57
         True          40892
Name: video_id, dtype: int64

# The difference between json and csv files: (AI)
| Feature     | CSV                                                           | JSON                                                 |
| ----------- | ------------------------------------------------------------- | ---------------------------------------------------- |
| Format      | Comma-separated values (plain text)                           | JavaScript Object Notation (structured text)         |
| Structure   | Tabular (rows √ó columns)                                      | Hierarchical / nested (objects, arrays)              |
| Data types  | Mostly strings/numbers; no native support for booleans/arrays | Supports strings, numbers, booleans, arrays, objects |
| File size   | Usually smaller                                               | Can be bigger due to extra formatting                |
| Readability | Easy in Excel / pandas                                        | Human-readable but more verbose                      |
| Use case    | Simple tables / spreadsheets                                  | Complex, nested data (APIs, configs)                 |